:root {
  --gutter: 4px;
}
.cocktails-grid {
  max-width: 1240px;
  margin-bottom: 40px;
}
.row {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-content: stretch;

 
}
.row > div {
  padding: 0px;
  margin: 7px 3.5px;
}

