.item {
  width: 100%;
  height: 698px;
  &__inner {
    margin: 0 auto;
    width: 1110px;
    height: 100%;
    display: flex;
    flex-direction: row;
  }
  &__info {
    margin-top: 7%;
    max-width: 534px;
  }
  &__title {
    font-family: "Proxima Nova Extra Bold";
    font-size: 44px;
    line-height: 158.34%;
    color: #fff7df;
  }
  &__paragraph {
    font-family: "Proxima Nova";
    font-size: 18px;
    line-height: 33px;
    color: #fff7df;
  }
  &__human {
    max-width: 300px;
    margin-top: -165px;
    margin-left: 60px;
  }

  @media (max-width: 1300px) {
    &__inner {
      width: 80%;
    }
    &__title {
      font-size: 32px;
    }
  }
  @media (max-width: 992px) {
    height: 508px;
   
    &__title {
      font-size: 23px;
      line-height: 120.34%;
    }
    &__paragraph {
      font-size: 14px;
      line-height: 20px;
    }
    &__human {
      max-width: 200px;
      margin-top: -192px;
      margin-left: 100px;
    }
  }

  @media (max-width: 578px) {
    height: 400px;
    width: 100%;
    &__title {
      width: 239px;
      font-size: 18px;
      line-height: 100.34%;
    }
    &__paragraph {
      font-size: 12px;
      line-height: 10px;
    }
    &__human {
      max-width: 118px;
      margin-top: -170px;
      margin-left: -194px;
    }
    &__images {
      margin-top: 11px;
      margin-left: -213px;
    }
  }
}
